.main-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--sw-color-primary);
}

.main-navigation-logo {
  margin-right: auto;
  cursor: pointer;
}

/* .main-navigation-links {} */

.main-navigation-list {
  list-style: none;
}

/* .main-navigation-item {} */

.main-navigation__link {
  color: var(--sw-color-white);
  font-size: 1.6rem;
  text-decoration: none;
  margin-right: 3rem;
  transition: color .3s;
}

.main-navigation__link:hover {
  color: #ccc;
}

