.sideNavigation {
  width: 25rem;
  position: absolute;
  right: 0;
  height: var(--sw-component-height-desktop);
  padding: 3rem;
  transform: translate(25rem);
  background-color: var(--sw-color-white);
  transition: transform 0.6s;
  z-index: 1;
}

.sideNavigation__headline {
  font-size: 1.6rem;
  color: var(--sw-color-secondary-dark);
  margin-bottom: 3.25rem;
}

.sideNavigation-filter {
  margin-bottom: 2rem;
}

.sideNavigation-filter__title {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1.25rem;
}

.sideNavigation--expanded {
  transform: translate(0);
}
