.new-meeting-controls {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.new-meeting-control {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.new-meeting__label {
  font-size: 1.3rem;
  width: 5rem;
  display: inline-block;
}

/* CREATE UI */
.new-meeting__input {
  color: var(--sw-color-tertiary);
  width: 90%;
  font: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 3px;
  border: none;
  border: 1px solid var(--sw-color-tertiary);
  outline: none;
  background-color: var(--sw-color-white);
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.new-meeting-buttons {
  padding-top: 2rem;
  margin-top: auto;
  align-self: flex-end;
}
