.meeting-card {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--sw-color-white);
}

.meeting-card:not(:last-child) {
    border-bottom: 1px solid var(--sw-color-secondary);
}

.meeting-card__close {
    color: var(--sw-color-black);
    height: 3rem;
    width: 3rem;
    text-align: center;
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2.6rem;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    transition: background-color .6s;
}

.meeting-card__close:active,
.meeting-card__close:hover {
    background-color: #ddd;
}

.meeting-card-date {
    height: 10rem;
    width: 10rem;
    padding: 1rem;
    line-height: 1.4;
    border-radius: 3px;
    background-color: var(--sw-color-primary);
}

.meeting-card-date span {
    display: block;
    font-size: 1.2rem;
    text-align: center;
}

.meeting-card-date span {
    font-size: 1.4rem;
    color: var(--sw-color-white);
}

.meeting-card-date span:first-child {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--sw-color-tertiary);
}


.meeting-card-info {
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.5;
    padding: 1rem;
    margin-left: 1rem;
}

.meeting-card-info strong,
.meeting-card-info span {
    font-size: 1.3rem;
}


