* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sw-color-primary: #1d3557;
  --sw-color-secondary: #a8dadc;
  --sw-color-secondary-dark: #457b9d;
  --sw-color-white: #fff;
  --sw-color-black: #03071e;
  --sw-color-tertiary: #e07a5f;
  --sw-color-tertiary-dark: #e76f51;
  --sw-nav-height-desktop: 7.6rem;
  --sw-component-height-desktop: calc(100vh - 7.6rem);
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VIEWS */
#home {
  height: var(--sw-component-height-desktop);
  display: flex;
  justify-content: center;
  align-items: center;
}
