.card {
  overflow: auto;
  height: 90%;
  width: 80%;
  padding: 2.5rem;
  box-shadow: 0 3px 0.6rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card::-webkit-scrollbar {
  display: none;
}

.card h1 {
  color: var(--sw-color-secondary-dark);
}
