.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  width: 50rem;
  padding: 2rem;
  padding-right: 2rem;
  margin-top: calc(var(--sw-nav-height-desktop) + 4rem);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  background-color: var(--sw-color-white);
  z-index: 3;
}

.modal-flex {
  display: flex;
  flex-flow: column nowrap;
}

.modal__close {
  color: var(--sw-color-black);
  height: 3rem;
  width: 3rem;
  text-align: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.6rem;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  transition: background-color 0.6s;
}

.modal__close:active,
.modal__close:hover {
  background-color: #ddd;
}

.modal .modal-header__title {
  font-size: 2rem;
  color: var(--sw-color-secondary-dark);
  margin-bottom: 3rem;
}

.modal-body {
  height: 100%;
}